main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  padding: 24px;
}

img {
  image-rendering: pixelated;
  filter: brightness(1);
  /* transform: scale(3); */
  width: 70%;
}
.pokeimg{
  filter: brightness(0);
}